body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    /* color: white; */
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

main {
    flex: 1;
    padding-bottom: 60px; 
    margin-left: 10px;
}

footer {
    /* color: white; */
    text-align: center;
    padding: 10px 0;
}
